@model Carrenta.Models.Car

@{
  ViewBag.Title = "Edit Car";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Car", FormMethod.Post))
{
  <dl class="dl-horizontal">
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.imageData)
    @Html.HiddenFor(m => m.imageMimeType)
    <dt>Car name</dt>
    <dd>@Html.EditorFor(m => m.brand)</dd>
    <dt>Year</dt>
    <dd>@Html.EditorFor(m => m.year)</dd>
    <dt>Body</dt>
    <dd>@Html.EditorFor(m => m.body)</dd>
    <dt>Price $</dt>
    <dd>@Html.EditorFor(m => m.price)</dd>
  </dl>
  <input type="submit" value="Save" class="btn btn-warning" />
}
