
@{
  ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

@*@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
  <dl class="dl-horizontal">
    @Html.HiddenFor(e => e.id)
    @Html.HiddenFor(e => e.userID)
    <dt>Car ID</dt>
    <dd>@Html.EditorFor(e => e.carID)</dd>
    <dt>Order date start</dt>
    <dd>@Html.EditorFor(e => e.dateStart)</dd>
    <dt>Order date end</dt>
    <dd>@Html.EditorFor(e => e.dateEnd)</dd>
  </dl>
  <input type="submit" value="Save" class="btn btn-warning" />
}*@
