@using Microsoft.AspNet.Identity.EntityFramework

@{
  ViewBag.Title = "UserList";
}

<h2>Here you can see all users in Carrenta:</h2>

<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>EmailConfirmed</th>
      <th>PhoneNumber</th>
      <th>PhoneNumberConfirmed</th>
      <th>TwoFactorEnabled</th>
      <th>LockoutEnabled</th>
      <th>Delete</th>
      @*<th>Edit</th>*@
    </tr>
  </thead>
  <tbody>
    @foreach (var user in ViewBag.DBUsers)
    {
      <tr>
        <td>@user.Id</td>
        <td>@user.Email</td>
        <td>@user.EmailConfirmed</td>
        <td>@user.PhoneNumber</td>
        <td>@user.PhoneNumberConfirmed</td>
        <td>@user.TwoFactorEnabled</td>
        <td>@user.LockoutEnabled</td>
        <td>
          @using (Html.BeginForm("DeleteUser", "User"))
          {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-danger" value="Delete" id="btn" />
            <input type="hidden" value=@user.Id name="userId" />
          }
        </td>
        @*<td><a href="/User/Edit/@user.Id">Edit</a></td>*@
      </tr>
    }
  </tbody>
</table>
